@import url("https://themes.googleusercontent.com/fonts/css?kit=rMvPVIUMSwmYbFGBMd3rUuTPYA_Pc5L2f3wO5ZDJfMtGgCUYXdAD3rnMIRyUcQ9S2r_Xy3xMZYt8Ie05X7SaGBS51T-Yw0-Do7OLPCpmCfiCYqoUBKs_Zdq7Ku0clX38");
.lst-kix_ufezumu3m1db-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_rjclfymsw68k-4 > li {
  counter-increment: lst-ctn-kix_rjclfymsw68k-4;
}
.lst-kix_ufezumu3m1db-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_ufezumu3m1db-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_nz265uajgpfe-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_nz265uajgpfe-6 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_rw4kzzpjrib3-1 {
  list-style-type: none;
}
ul.lst-kix_u8lcatbunrrp-8 {
  list-style-type: none;
}
ul.lst-kix_rw4kzzpjrib3-2 {
  list-style-type: none;
}
ul.lst-kix_u8lcatbunrrp-7 {
  list-style-type: none;
}
.lst-kix_nz265uajgpfe-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_rw4kzzpjrib3-0 {
  list-style-type: none;
}
ul.lst-kix_u8lcatbunrrp-4 {
  list-style-type: none;
}
ul.lst-kix_u8lcatbunrrp-3 {
  list-style-type: none;
}
ul.lst-kix_u8lcatbunrrp-6 {
  list-style-type: none;
}
ol.lst-kix_rjclfymsw68k-1.start {
  counter-reset: lst-ctn-kix_rjclfymsw68k-1 0;
}
.lst-kix_ufezumu3m1db-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_u8lcatbunrrp-5 {
  list-style-type: none;
}
ul.lst-kix_u8lcatbunrrp-0 {
  list-style-type: none;
}
.lst-kix_nz265uajgpfe-7 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_u8lcatbunrrp-2 {
  list-style-type: none;
}
.lst-kix_ufezumu3m1db-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_u8lcatbunrrp-1 {
  list-style-type: none;
}
.lst-kix_nz265uajgpfe-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_nz265uajgpfe-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_nz265uajgpfe-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_nz265uajgpfe-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_rw4kzzpjrib3-5 {
  list-style-type: none;
}
ol.lst-kix_rjclfymsw68k-4.start {
  counter-reset: lst-ctn-kix_rjclfymsw68k-4 0;
}
ul.lst-kix_rw4kzzpjrib3-6 {
  list-style-type: none;
}
ul.lst-kix_rw4kzzpjrib3-3 {
  list-style-type: none;
}
.lst-kix_1b70rbiq870x-6 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_rw4kzzpjrib3-4 {
  list-style-type: none;
}
.lst-kix_1b70rbiq870x-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_nz265uajgpfe-3 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_rw4kzzpjrib3-7 {
  list-style-type: none;
}
ul.lst-kix_rw4kzzpjrib3-8 {
  list-style-type: none;
}
.lst-kix_1b70rbiq870x-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_y5lajpktzaow-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_1b70rbiq870x-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_1b70rbiq870x-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_y5lajpktzaow-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_rjclfymsw68k-2 > li {
  counter-increment: lst-ctn-kix_rjclfymsw68k-2;
}
.lst-kix_ufezumu3m1db-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_ufezumu3m1db-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_y5lajpktzaow-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_ufezumu3m1db-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_y5lajpktzaow-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_1b70rbiq870x-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_y5lajpktzaow-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_y5lajpktzaow-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_1b70rbiq870x-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_rjclfymsw68k-5 > li {
  counter-increment: lst-ctn-kix_rjclfymsw68k-5;
}
.lst-kix_ufezumu3m1db-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_y5lajpktzaow-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_y5lajpktzaow-7 > li:before {
  content: "\0025cb  ";
}
ol.lst-kix_rjclfymsw68k-7.start {
  counter-reset: lst-ctn-kix_rjclfymsw68k-7 0;
}
.lst-kix_rjclfymsw68k-7 > li {
  counter-increment: lst-ctn-kix_rjclfymsw68k-7;
}
ul.lst-kix_fzrzcpezifpt-7 {
  list-style-type: none;
}
ul.lst-kix_fzrzcpezifpt-6 {
  list-style-type: none;
}
ul.lst-kix_fzrzcpezifpt-8 {
  list-style-type: none;
}
ul.lst-kix_fzrzcpezifpt-3 {
  list-style-type: none;
}
ul.lst-kix_fzrzcpezifpt-2 {
  list-style-type: none;
}
ul.lst-kix_fzrzcpezifpt-5 {
  list-style-type: none;
}
.lst-kix_rjclfymsw68k-1 > li {
  counter-increment: lst-ctn-kix_rjclfymsw68k-1;
}
ul.lst-kix_fzrzcpezifpt-4 {
  list-style-type: none;
}
ol.lst-kix_rjclfymsw68k-3.start {
  counter-reset: lst-ctn-kix_rjclfymsw68k-3 0;
}
ol.lst-kix_rjclfymsw68k-7 {
  list-style-type: none;
}
ol.lst-kix_rjclfymsw68k-8 {
  list-style-type: none;
}
ol.lst-kix_rjclfymsw68k-5 {
  list-style-type: none;
}
ol.lst-kix_rjclfymsw68k-6 {
  list-style-type: none;
}
ol.lst-kix_rjclfymsw68k-3 {
  list-style-type: none;
}
ol.lst-kix_rjclfymsw68k-4 {
  list-style-type: none;
}
ol.lst-kix_rjclfymsw68k-1 {
  list-style-type: none;
}
ol.lst-kix_rjclfymsw68k-2 {
  list-style-type: none;
}
ol.lst-kix_rjclfymsw68k-0 {
  list-style-type: none;
}
ol.lst-kix_rjclfymsw68k-8.start {
  counter-reset: lst-ctn-kix_rjclfymsw68k-8 0;
}
ol.lst-kix_rjclfymsw68k-2.start {
  counter-reset: lst-ctn-kix_rjclfymsw68k-2 0;
}
.lst-kix_rjclfymsw68k-4 > li:before {
  content: "" counter(lst-ctn-kix_rjclfymsw68k-4, lower-latin) ". ";
}
.lst-kix_rjclfymsw68k-3 > li:before {
  content: "" counter(lst-ctn-kix_rjclfymsw68k-3, decimal) ". ";
}
.lst-kix_rjclfymsw68k-5 > li:before {
  content: "" counter(lst-ctn-kix_rjclfymsw68k-5, lower-roman) ". ";
}
.lst-kix_rjclfymsw68k-2 > li:before {
  content: "" counter(lst-ctn-kix_rjclfymsw68k-2, lower-roman) ". ";
}
ol.lst-kix_rjclfymsw68k-5.start {
  counter-reset: lst-ctn-kix_rjclfymsw68k-5 0;
}
.lst-kix_rjclfymsw68k-6 > li:before {
  content: "" counter(lst-ctn-kix_rjclfymsw68k-6, decimal) ". ";
}
.lst-kix_rjclfymsw68k-0 > li:before {
  content: "" counter(lst-ctn-kix_rjclfymsw68k-0, decimal) ". ";
}
.lst-kix_rjclfymsw68k-7 > li:before {
  content: "" counter(lst-ctn-kix_rjclfymsw68k-7, lower-latin) ". ";
}
.lst-kix_rjclfymsw68k-8 > li:before {
  content: "" counter(lst-ctn-kix_rjclfymsw68k-8, lower-roman) ". ";
}
.lst-kix_rjclfymsw68k-1 > li:before {
  content: "" counter(lst-ctn-kix_rjclfymsw68k-1, lower-latin) ". ";
}
.lst-kix_fzrzcpezifpt-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_fzrzcpezifpt-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_fzrzcpezifpt-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_fzrzcpezifpt-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_rjclfymsw68k-8 > li {
  counter-increment: lst-ctn-kix_rjclfymsw68k-8;
}
.lst-kix_rw4kzzpjrib3-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_fzrzcpezifpt-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_fzrzcpezifpt-1 {
  list-style-type: none;
}
ul.lst-kix_fzrzcpezifpt-0 {
  list-style-type: none;
}
.lst-kix_rw4kzzpjrib3-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_fzrzcpezifpt-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_fzrzcpezifpt-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_rw4kzzpjrib3-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_fzrzcpezifpt-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_fzrzcpezifpt-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_ufezumu3m1db-1 {
  list-style-type: none;
}
ul.lst-kix_ufezumu3m1db-2 {
  list-style-type: none;
}
ul.lst-kix_ufezumu3m1db-0 {
  list-style-type: none;
}
ul.lst-kix_ufezumu3m1db-5 {
  list-style-type: none;
}
.lst-kix_rw4kzzpjrib3-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_ufezumu3m1db-6 {
  list-style-type: none;
}
ol.lst-kix_rjclfymsw68k-0.start {
  counter-reset: lst-ctn-kix_rjclfymsw68k-0 0;
}
ul.lst-kix_ufezumu3m1db-3 {
  list-style-type: none;
}
ul.lst-kix_ufezumu3m1db-4 {
  list-style-type: none;
}
.lst-kix_u8lcatbunrrp-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_rw4kzzpjrib3-2 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_nz265uajgpfe-8 {
  list-style-type: none;
}
ul.lst-kix_ufezumu3m1db-7 {
  list-style-type: none;
}
.lst-kix_rw4kzzpjrib3-3 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_ufezumu3m1db-8 {
  list-style-type: none;
}
.lst-kix_u8lcatbunrrp-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_u8lcatbunrrp-6 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_nz265uajgpfe-5 {
  list-style-type: none;
}
.lst-kix_rw4kzzpjrib3-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_1b70rbiq870x-8 {
  list-style-type: none;
}
ul.lst-kix_nz265uajgpfe-4 {
  list-style-type: none;
}
ul.lst-kix_nz265uajgpfe-7 {
  list-style-type: none;
}
ul.lst-kix_nz265uajgpfe-6 {
  list-style-type: none;
}
.lst-kix_u8lcatbunrrp-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_nz265uajgpfe-1 {
  list-style-type: none;
}
ul.lst-kix_nz265uajgpfe-0 {
  list-style-type: none;
}
ul.lst-kix_nz265uajgpfe-3 {
  list-style-type: none;
}
.lst-kix_rw4kzzpjrib3-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_nz265uajgpfe-2 {
  list-style-type: none;
}
.lst-kix_u8lcatbunrrp-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_1b70rbiq870x-0 {
  list-style-type: none;
}
ul.lst-kix_1b70rbiq870x-1 {
  list-style-type: none;
}
ul.lst-kix_1b70rbiq870x-2 {
  list-style-type: none;
}
.lst-kix_y5lajpktzaow-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_1b70rbiq870x-3 {
  list-style-type: none;
}
ul.lst-kix_1b70rbiq870x-4 {
  list-style-type: none;
}
ul.lst-kix_1b70rbiq870x-5 {
  list-style-type: none;
}
ul.lst-kix_1b70rbiq870x-6 {
  list-style-type: none;
}
ul.lst-kix_1b70rbiq870x-7 {
  list-style-type: none;
}
.lst-kix_1b70rbiq870x-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_1b70rbiq870x-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_u8lcatbunrrp-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_rw4kzzpjrib3-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_u8lcatbunrrp-0 > li:before {
  content: "\0025cf  ";
}
ol.lst-kix_rjclfymsw68k-6.start {
  counter-reset: lst-ctn-kix_rjclfymsw68k-6 0;
}
ul.lst-kix_y5lajpktzaow-4 {
  list-style-type: none;
}
ul.lst-kix_y5lajpktzaow-5 {
  list-style-type: none;
}
ul.lst-kix_y5lajpktzaow-2 {
  list-style-type: none;
}
.lst-kix_rjclfymsw68k-0 > li {
  counter-increment: lst-ctn-kix_rjclfymsw68k-0;
}
ul.lst-kix_y5lajpktzaow-3 {
  list-style-type: none;
}
ul.lst-kix_y5lajpktzaow-8 {
  list-style-type: none;
}
ul.lst-kix_y5lajpktzaow-6 {
  list-style-type: none;
}
.lst-kix_rjclfymsw68k-3 > li {
  counter-increment: lst-ctn-kix_rjclfymsw68k-3;
}
ul.lst-kix_y5lajpktzaow-7 {
  list-style-type: none;
}
.lst-kix_rjclfymsw68k-6 > li {
  counter-increment: lst-ctn-kix_rjclfymsw68k-6;
}
.lst-kix_u8lcatbunrrp-7 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_y5lajpktzaow-0 {
  list-style-type: none;
}
ul.lst-kix_y5lajpktzaow-1 {
  list-style-type: none;
}
.lst-kix_u8lcatbunrrp-8 > li:before {
  content: "\0025a0  ";
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c0 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  font-weight: 700;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 14pt;
  font-family: "Roboto Mono";
  font-style: normal;
}
.c11 {
  margin-left: -72pt;
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.2;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-right: -72pt;
}
.c30 {
  margin-left: -72pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-right: -72pt;
}
.c21 {
  margin-left: -72pt;
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 0.5;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-right: -72pt;
}
.c4 {
  margin-left: -72pt;
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: left;
  margin-right: -72pt;
}
.c10 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 9pt;
  font-family: "Roboto Mono";
}
.c1 {
  color: #f75d5d;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Lato";
  font-style: normal;
}
.c27 {
  padding-top: 20pt;
  padding-bottom: 0pt;
  line-height: 2;
  orphans: 2;
  widows: 2;
  text-align: right;
  height: 10pt;
}
.c17 {
  padding-top: 10pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 10pt;
}
.c3 {
  margin-left: -72pt;
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1;
  text-align: right;
  margin-right: -72pt;
}
.c26 {
  margin-left: -72pt;
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 0.5;
  text-align: left;
  margin-right: -72pt;
}
.c14 {
  margin-left: -72pt;
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.2;
  text-align: left;
  margin-right: -72pt;
}
.c16 {
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-style: italic;
}
.c8 {
  background-color: #ffffff;
  font-size: 9pt;
  font-family: "Roboto Mono";
  font-weight: 400;
}
.c19 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal;
}
.c7 {
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-style: normal;
}
.c9 {
  font-size: 9pt;
  font-family: "Roboto Mono";
  font-weight: 700;
}
.c31 {
  font-weight: 400;
  font-size: 11pt;
  font-family: "Playfair Display";
}
.c28 {
  font-weight: 400;
  font-size: 10pt;
  font-family: "Lato";
}
.c33 {
  vertical-align: baseline;
  font-size: 14pt;
  font-style: normal;
}
.c25 {
  font-weight: 700;
  font-size: 11pt;
  font-family: "Playfair Display";
}
.c6 {
  font-family: "Roboto Mono";
  color: #000000;
  font-weight: 400;
}
.c32 {
  background-color: #ffffff;
  max-width: 432pt;
  padding: 18pt 90pt 54pt 90pt;
}
.c12 {
  font-size: 9pt;
  font-family: "Roboto Mono";
  font-weight: 400;
}
.c5 {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 400;
}
.c15 {
  color: #000000;
  font-weight: 700;
  font-family: "Roboto Mono";
}
.c18 {
  -webkit-text-decoration-skip: none;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.c2 {
  color: inherit;
  text-decoration: inherit;
}
.c20 {
  font-weight: 400;
  font-family: "Roboto Mono";
}
.c13 {
  color: #000000;
  font-style: italic;
}
.c22 {
  font-size: 36pt;
}
.c29 {
  height: 10pt;
}
.c23 {
  color: #1155cc;
}
.c24 {
  color: #000000;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 10pt;
  font-family: "Playfair Display";
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #999999;
  font-size: 9pt;
  padding-bottom: 0pt;
  font-family: "Lato";
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 10pt;
  font-family: "Lato";
}
p {
  margin: 0;
  color: #000000;
  font-size: 10pt;
  font-family: "Lato";
}
h1 {
  padding-top: 16pt;
  color: #f75d5d;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 0pt;
  font-family: "Playfair Display";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}
h2 {
  padding-top: 10pt;
  color: #666666;
  font-size: 9pt;
  padding-bottom: 0pt;
  font-family: "Lato";
  line-height: 1.3;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 0pt;
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Playfair Display";
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 8pt;
  -webkit-text-decoration-skip: none;
  color: #666666;
  text-decoration: underline;
  font-size: 11pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  page-break-after: avoid;
  text-decoration-skip-ink: none;
  font-family: "Trebuchet MS";
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 8pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.3;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 8pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.3;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
